RESEND_API_KEY=re_your_resend_api_key_here
ADMIN_EMAIL=your_email@example.com

GOOGLE_SHEET_ID=1NxOwqR4OQfCrzlp7LgvvXmYieiq6w7EqJ91dJSQsokw
GOOGLE_SHEET_NAME=Sheet1
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_CONTENT\n-----END PRIVATE KEY-----\n"
